<div class="about">
  <h2>About Try out Noise</h2>
  <p>This is a small demo to show the capabilities of <a href="https://github.com/pipedown/noise">Noise</a>. It is using the <a href="https://github.com/pipedown/node-noise">Nodejs binding for Noise</a>. <a href="https://github.com/pipedown/try_out_noise">The source code of this demo</a> is also availble on Github.
  </p>
  <h3>Data</h3>
  <p>The data is from the <a href="http://www.tvmaze.com/api">TVmaze API</a> which is licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 License</a>.
  </p>
</div>
