<div class="headline">
  <h1>Try out Noise</h1>
</div>
{{outlet}}
<div class="footer">
  <ol>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
  </ol>
</div>
