<h1>{{#link-to 'index'}}Try out Noise{{/link-to}}</h1>
{{outlet}}
<ol class="footer">
  <li>{{#link-to 'about'}}About{{/link-to}}</li>
  <li><a href="https://github.com/pipedown/noise/blob/master/query_language_reference.md">Language Reference</a></li>
  <li><a href="http://noisesearch.org/">Project Website</a></li>
  <li><a href="https://github.com/pipedown/noise">Github</a></li>
</ol>
