<div class="panel">
  {{noise-tutorial description=model.current.description
                   next=model.next
                   prev=model.prev}}
</div>

<div class="panel">
  {{#noise-query query=model.current.query as |results|}}
    {{#each results as |show|}}
      {{noise-result show=show}}
    {{/each}}
  {{/noise-query}}
</div>
