{{noise-tutorial description=model.current.description
                 next=model.next
                 prev=model.prev}}
{{#noise-query query=model.current.query as |results|}}
  {{#if results}}
    {{#each results as |show|}}
      {{noise-result show=show}}
    {{/each}}
  {{else if (eq results.length 0)}}
    <div class="no-results">The query didn't return any results.</div>
  {{/if}}
{{/noise-query}}
