<h1>Try out Noise</h1>

{{noise-tutorial pageNo=model.pageNo}}

{{#noise-query pageNo=model.pageNo as |results|}}
  {{#each results as |show|}}
    {{noise-result show=show}}
  {{/each}}
{{/noise-query}}
