<h1>Try out Noise</h1>

{{noise-tutorial description=model.current.description}}

{{#noise-query query=model.current.query as |results|}}
  {{#each results as |show|}}
    {{noise-result show=show}}
  {{/each}}
{{/noise-query}}
